* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container {
    height: 100vh;
    width: 70%;
    margin: auto;
}

h1 {
    text-align: center;
}

/* todo list - trash list */

.container_list, .container_trash {
    width: 100%;
    margin-top: 100px;
    padding: 10px;
    background-color: lightgrey;
}

.todo_list, .trash_list{
    list-style: none;
}

.todo_list li, .trash_list li {
    padding: 10px 70px;
}

.todo_list li i, .trash_list li i {
    float: right;
    padding: 0 20px;
    cursor: pointer;
}

h2 {
    margin-top: 50px;
    padding: 0 70px;
}

h3 {
    float: right;
    cursor: pointer;
    padding: 0 10px;
}

.container_input {
    width: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}
