<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <title>Todo list</title>
</head>
<body>
    <div id="app" class="container">
        <h1>TO DO LIST</h1>

        <!-- todo list -->
        <div class="container_input">
            <input v-model="utente" type="text" @keyup.enter ="addList(utente)">
            <button @click="addList(utente)" >Aggiungi</button>
        </div> 
        <h3 @click="allDelete">Sposta tutto nel cestino</h3>
        <div class="container_list">
            <ul class="todo_list">
                <li v-for="(items,index) in arrayList">{{items}} 
                    <i class="fas fa-times-circle" @click="moveToTrash(index)"></i>
                    <i class="fas fa-pencil-alt" @click="rewriteList(index)"></i>
                </li>
            </ul>
        </div>

        <!-- /todo list -->

        <!-- trash -->

        <h2>Trash</h2>
        <h3 @click="allRestore">Ripristina tutto</h3>
        <h3 @click="totalDelete">Svuota cestino</h3>
        <div class="container_trash">
            <ul class="trash_list">
                <li v-for="(items, index) in trashList">{{items}} <i class="fas fa-trash-restore" @click="restoreList(index)"></i>
                <i class="fas fa-trash-alt" @click="singleDelete(index)"></i>
                </li>
            </ul>
        </div>

        <!-- /trash -->
    </div>



    <script src="js/script.js"></script>
</body>
</html>